*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
body{
    background-color: rgb(182, 179, 179);

}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invoice-page{
    width: 90%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.invoice-page>div{
    width: 100%;
}
.invoice-page .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.invoice-page .navbar .logo{
    font-size: 26px;
    font-weight: bold;
    padding: 15px;
}
.invoice-page .toolbox{
    width: 100%;
    /* height: 50px; */
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.invoice-page .toolbox .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    margin: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.invoice-page .toolbox .search{
    width: 100%;
    margin: 5px;

}
.invoice-page .toolbox .search input{
    height: 30px;
    padding: 5px 7px;
    width: 100%;
}
.invoice-page .list{
    width: 100%;
}
.invoice-page .list table{
    width: 100%;

}
.invoice-page .list table tr{
    padding: 5px 10px;
    height: 25px;
}
.invoice-page .list table tr:first-child{
    font-weight: bold;
}
.invoice-page .list table tr td{
}